body {
    background-color: #ECF2FF;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 05px;
    width: 05%;
}